.intro {
  background-color: #215742;
  width: 100vw;
  height: 120vh;
  display: grid;
  place-items:center;

}

.workplace-text {
  color:white;
  font-family: TuesdayNight;
  font-size: 70px;
  
}

.pitch {
  color:white;
  font-size: 50px;
  font-family: 'Cocogoose';
  line-height: 1.7;


}

.scroller-photo {
  width: 405px;
  height: 457.5px;
  object-fit: cover;
  border-radius: 30px;
}