.intro {
  background-color: #215742;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items:center;

}

.workplace-text {
  color:white;
  font-family: TuesdayNight;
  font-size: 70px;
  
}

.pitch {
  color:white;
  font-size: 50px;
  font-family: 'Cocogoose';
  line-height: 1.7;


}