.submit {
  margin-left: 10px;
  height: 3rem;
  width: 3rem;
  border-radius: 0.8rem;
}

.submitter {
  height: 3rem;
  width: 46.5rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  font-family: 'Roboto', sans serif;
  font-size: 20px;

}

.outer-box {
  border-radius: 20px;
  height: 400px;
  width: 800px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fc 1fc;
}
.bottom-half {
  margin-top: 20px;
}
.user-message {
  float: right;
  margin-top: 50px;
  margin-right: 65px;
  width: 350px;
  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #a2bfb4;
  padding: 25px;
  border-radius: 10px;
}
.bot-message {
  float: left;
  margin-left: 65px;
  font-family: 'Roboto', sans-serif;
  width: 350px;
  font-size: 20px;
  background-color: rgb(99, 141, 105);
  padding: 25px;
  border-radius: 10px;
}

.name1 {
  font-family: 'Roboto', sans-serif;
  left: 340px;
  top: 40px;
  position: relative;
  color:rgb(53, 53, 53);
}

.pretty {
  font-family:'TuesdayNight';
  font-size: 70px;
  color: white;
  text-align: center;

}
.instruct {
  color: white;
  text-align: center;
  font-family: Cocogoose;
  font-size: 25px;
  margin-bottom: 40px;
}
.name2 {
  font-family: 'Roboto', sans-serif;
  left: 390px;
  bottom: 10px;
  position: relative;
  color:rgb(53, 53, 53);

}
.profile1 {
  position: relative;
  right: 30px;
  top: 50px;
  height: 60px;
  float: right;
}
.profile2 {
  position: relative;
  left: 30px;
  top: 20px;
  height: 60px;
  float: left;
}
